Flows/weather.json
[{"id":"5e3725d2.74324c","type":"tab","label":"wunderground to OMF","disabled":true,"info":"To get this to work open the Change Node: \"Change URL\"\nand enter URLs that accept OMF messages.\n\nYou will also need to update the header configuration to have a producer token that you want"},{"id":"a78fddc0.698eb","type":"function","z":"5e3725d2.74324c","name":"","func":"msg.time = msg.time.toISOString();\nreturn msg;","outputs":1,"noerr":0,"x":502,"y":195.99996757507324,"wires":[["a09b2c28.d72bd"]]},{"id":"a09b2c28.d72bd","type":"change","z":"5e3725d2.74324c","name":"Change URL","rules":[{"t":"set","p":"data","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"[\"endpoint1\",\"endpoint2\"]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":719.0658874511719,"y":184.770902633667,"wires":[["60c97a50.e14804"]]},{"id":"a4c79b24.9b1328","type":"http request","z":"5e3725d2.74324c","name":"","method":"POST","ret":"txt","url":"","tls":"","x":513.9861450195312,"y":442.8784770965576,"wires":[["2c966ded.e9fb72"]]},{"id":"e96b23cc.79c34","type":"http request","z":"5e3725d2.74324c","name":"","method":"POST","ret":"txt","url":"","tls":"","x":711,"y":425.99996757507324,"wires":[["4a56a3ff.a5af8c"]]},{"id":"362da9ed.db09c6","type":"http request","z":"5e3725d2.74324c","name":"","method":"POST","ret":"txt","url":"","tls":"","x":1098.9408569335938,"y":417.6284465789795,"wires":[["ec2deb67.d23c68"]]},{"id":"4a56a3ff.a5af8c","type":"change","z":"5e3725d2.74324c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":895.9999389648438,"y":422.99996757507324,"wires":[["fac2fd27.cd4e6"]]},{"id":"60c97a50.e14804","type":"split","z":"5e3725d2.74324c","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":925.0520782470703,"y":180.47919368743896,"wires":[["bfed7e6c.fe76f"]]},{"id":"ec2deb67.d23c68","type":"join","z":"5e3725d2.74324c","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","x":1128.0520629882812,"y":332.4479351043701,"wires":[[]]},{"id":"bfed7e6c.fe76f","type":"change","z":"5e3725d2.74324c","name":"","rules":[{"t":"set","p":"urlHolder","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1092.05908203125,"y":181.5521068572998,"wires":[["fc37f732.09a068"]]},{"id":"f68571c2.a7eb2","type":"inject","z":"5e3725d2.74324c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":151.05206298828125,"y":127.93752861022949,"wires":[["749d2d7d.01a254"]]},{"id":"749d2d7d.01a254","type":"wunderground","z":"5e3725d2.74324c","name":"Loveland","lon":"","lat":"","city":"Loveland","country":"Ohio","x":296.99993896484375,"y":116,"wires":[["a78fddc0.698eb"]]},{"id":"dc398d40.04f9f","type":"wunderground in","z":"5e3725d2.74324c","name":"San Leandro","lon":"","lat":"","city":"san leandro","country":"california","x":143.98261260986328,"y":351.00000762939453,"wires":[["6a1e8c2.8619b74"]]},{"id":"3706f64.b05400a","type":"wunderground","z":"5e3725d2.74324c","name":"San Leandro","lon":"","lat":"","city":"San Leandro","country":"California","x":296.99998474121094,"y":162.99999046325684,"wires":[["a78fddc0.698eb"]]},{"id":"ad3a42f7.cd1c4","type":"inject","z":"5e3725d2.74324c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":150.98261642456055,"y":162.99999046325684,"wires":[["3706f64.b05400a"]]},{"id":"6a1e8c2.8619b74","type":"change","z":"5e3725d2.74324c","name":"","rules":[],"action":"","property":"","from":"","to":"","reg":false,"x":358.98260498046875,"y":270.98959159851074,"wires":[["a78fddc0.698eb"]]},{"id":"ec25e8dd.168a58","type":"wunderground","z":"5e3725d2.74324c","name":"Cincinnati","lon":"","lat":"","city":"Cincinnati","country":"Ohio","x":285.55403900146484,"y":205.14286708831787,"wires":[["a78fddc0.698eb"]]},{"id":"73b9ab1b.2b1514","type":"inject","z":"5e3725d2.74324c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":150.41119003295898,"y":199.4285717010498,"wires":[["ec25e8dd.168a58"]]},{"id":"fc37f732.09a068","type":"osisoft-omf-type","z":"5e3725d2.74324c","name":"","typconfig":"cd93e0d.b61b52","headersconfig":"c31597b6.88bfd8","urlconfig":"1bb9adb5.e565d2","x":394,"y":356,"wires":[["a4c79b24.9b1328"]]},{"id":"fac2fd27.cd4e6","type":"osisoft-omf-data","z":"5e3725d2.74324c","name":"","containerconfig":"ab4f9086.739ce","headersconfig":"c31597b6.88bfd8","urlconfig":"1bb9adb5.e565d2","typeconfig":"cd93e0d.b61b52","valuearray":"","props":5,"properties":{"tempf":{"propertyname":"tempf","value":"{{payload.tempf}}"},"humidity":{"propertyname":"humidity","value":"{{payload.humidity}}"},"windspeed":{"propertyname":"windspeed","value":"{{payload.windspeed}}"},"winddirection":{"propertyname":"winddirection","value":"{{payload.winddirection}}"},"_time":{"propertyname":"_time","value":"{{time}}"}},"typeid":"","containerid":"","typeversion":"","x":941,"y":336,"wires":[["362da9ed.db09c6"]]},{"id":"2c966ded.e9fb72","type":"osisoft-omf-container","z":"5e3725d2.74324c","name":"","containerconfig":"ab4f9086.739ce","headersconfig":"c31597b6.88bfd8","urlconfig":"1bb9adb5.e565d2","typeconfig":"cd93e0d.b61b52","x":673,"y":336,"wires":[["e96b23cc.79c34"]]},{"id":"cd93e0d.b61b52","type":"osisoft-omf-type-bridge","z":"","name":"wundergroud","typeid":"wundergroud","classification":"dynamic","version":"1.0.0.0","typename":"","description":"wundergroud","tags":"","metadata":"","properties":{"tempf":{"propertyname":"tempf","type":"number"},"humidity":{"propertyname":"humidity","type":"string"},"windspeed":{"propertyname":"windspeed","type":"number"},"winddirection":{"propertyname":"winddirection","type":"number"},"_time":{"propertyname":"_time","type":"string","format":"date-time","isindex":true}},"Switch":1,"Save":5},{"id":"c31597b6.88bfd8","type":"osisoft-omf-headers-bridge","z":"","name":"Token","producertoken":"Token","messageformat":"json","omfversion":"1.0","action":"create","compression":""},{"id":"1bb9adb5.e565d2","type":"osisoft-omf-url","z":"","name":"{{{urlHolder}}}","url":"{{{urlHolder}}}"},{"id":"ab4f9086.739ce","type":"osisoft-omf-container-bridge","z":"","name":"wunderground","containerid":"{{location.city}}_{{location.country}}","typeid":"","typeversion":"1.0.0.0","friendlyname":"","description":"wunderground","tags":"","metadata":""}]