Flows/weather_walkthru.json
[{"id":"ff4791c0.ac1ca","type":"http request","z":"d49481d6.45283","name":"","method":"POST","ret":"txt","url":"","tls":"ab6d1e7f.ed944","x":358.2242893642849,"y":466.02131928337946,"wires":[["467856c2.7e0198","3940a74b.e40f98"]]},{"id":"18eba220.10c48e","type":"http request","z":"d49481d6.45283","name":"","method":"POST","ret":"txt","url":"","tls":"ab6d1e7f.ed944","x":559.2381519741482,"y":466.1428116692437,"wires":[["237a16e0.e4255a","b490c2f2.4e35d"]]},{"id":"cc32f919.3c7128","type":"http request","z":"d49481d6.45283","name":"","method":"POST","ret":"txt","url":"","tls":"ab6d1e7f.ed944","x":941.1790161132812,"y":479.77130126953125,"wires":[["bc0ccbf.5496d38"]]},{"id":"237a16e0.e4255a","type":"change","z":"d49481d6.45283","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data2","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":735.2381138271755,"y":473.1428173912896,"wires":[["b2b37b0f.9d5ce8"]]},{"id":"2c4b62c7.80c6de","type":"inject","z":"d49481d6.45283","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":148.71875,"y":126.93752956390381,"wires":[["67fc6ef2.772ee"]]},{"id":"67fc6ef2.772ee","type":"wunderground","z":"d49481d6.45283","name":"Loveland","lon":"","lat":"","city":"Loveland","country":"Ohio","x":320,"y":120,"wires":[["ab6ca154.ad3d6"]]},{"id":"e9eb9712.e5b958","type":"osisoft-omf-type","z":"d49481d6.45283","name":"","typconfig":"ac6b6c6c.1e148","headersconfig":"74122994.9c9338","urlconfig":"6cdde941.66f3c8","x":205.77630615234375,"y":410.5872802734375,"wires":[["ff4791c0.ac1ca","87ddcbf2.33dcf8"]]},{"id":"467856c2.7e0198","type":"osisoft-omf-container","z":"d49481d6.45283","name":"","containerconfig":"65cfc0dc.cb798","headersconfig":"74122994.9c9338","urlconfig":"6cdde941.66f3c8","typeconfig":"ac6b6c6c.1e148","x":465.7763256496853,"y":391.1428688897027,"wires":[["18eba220.10c48e","267458f7.806ef8"]]},{"id":"bc0ccbf.5496d38","type":"debug","z":"d49481d6.45283","name":"","active":true,"console":"false","complete":"true","x":1221.5064163208008,"y":165.28571319580078,"wires":[]},{"id":"267458f7.806ef8","type":"debug","z":"d49481d6.45283","name":"1","active":true,"console":"false","complete":"true","x":684.649299621582,"y":639,"wires":[]},{"id":"b490c2f2.4e35d","type":"debug","z":"d49481d6.45283","name":"2","active":true,"console":"false","complete":"true","x":761.649299621582,"y":563,"wires":[]},{"id":"87ddcbf2.33dcf8","type":"debug","z":"d49481d6.45283","name":"-1","active":true,"console":"false","complete":"true","x":234.64929962158203,"y":562,"wires":[]},{"id":"3940a74b.e40f98","type":"debug","z":"d49481d6.45283","name":"0","active":true,"console":"false","complete":"true","x":451.64929962158203,"y":555,"wires":[]},{"id":"995fb751.7d0c08","type":"debug","z":"d49481d6.45283","name":"3","active":true,"console":"false","complete":"true","x":967.649299621582,"y":574,"wires":[]},{"id":"4e2ddc7.206f624","type":"debug","z":"d49481d6.45283","name":"","active":true,"console":"false","complete":"true","x":910,"y":80,"wires":[]},{"id":"b2b37b0f.9d5ce8","type":"osisoft-omf-data","z":"d49481d6.45283","name":"","containerconfig":"6060fbdc.c5ffa4","headersconfig":"74122994.9c9338","urlconfig":"6cdde941.66f3c8","typeconfig":"ac6b6c6c.1e148","valuearray":"","props":7,"properties":{"tempk":{"propertyname":"tempk","value":"{{payload.tempk}}"},"tempc":{"propertyname":"tempc","value":"{{payload.tempc}}"},"tempf":{"propertyname":"tempf","value":"{{payload.tempf}}"},"humidity":{"propertyname":"humidity","value":"{{payload.humidity}}"},"windspeed":{"propertyname":"windspeed","value":"{{payload.windspeed}}"},"winddirection":{"propertyname":"winddirection","value":"{{payload.winddirection}}"},"_time":{"propertyname":"_time","value":"{{time}}"}},"typeid":"","containerid":"","typeversion":"","x":800,"y":380,"wires":[["cc32f919.3c7128","995fb751.7d0c08"]]},{"id":"b6abe829.d4ec58","type":"inject","z":"d49481d6.45283","name":"","topic":"","payload":"{\"payload\":{\"weather\":\"Mostly Cloudy\",\"tempk\":297.4,\"tempc\":24.2,\"tempf\":75.6,\"humidity\":\"95%\",\"windspeed\":1.6,\"winddirection\":0,\"location\":\"Clermont County, Batavia, Ohio\",\"epoch\":\"1529585390\",\"description\":\"The weather in Loveland at coordinates: 39.27000046, -84.26999664 is Mostly Cloudy\",\"forecast\":\"Loveland : Thursday : Showers and scattered thunderstorms. High near 25C. Winds SSW at 10 to 15 km/h. Chance of rain 90%.\"},\"Location\":{\"lon\":-84.26999664,\"lat\":39.27000046,\"city\":\"Loveland\",\"country\":\"US\"},\"Data\":{\"response\":{\"version\":\"0.1\",\"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\"features\":{\"conditions\":1,\"forecast\":1}},\"current_observation\":{\"image\":{\"url\":\"http://icons.wxug.com/graphics/wu2/logo_130x80.png\",\"title\":\"Weather Underground\",\"link\":\"http://www.wunderground.com\"},\"display_location\":{\"full\":\"Loveland, OH\",\"city\":\"Loveland\",\"state\":\"OH\",\"state_name\":\"Ohio\",\"country\":\"US\",\"country_iso3166\":\"US\",\"zip\":\"45140\",\"magic\":\"1\",\"wmo\":\"99999\",\"latitude\":\"39.27000046\",\"longitude\":\"-84.26999664\",\"elevation\":\"201.8\"},\"observation_location\":{\"full\":\"Clermont County, Batavia, Ohio\",\"city\":\"Clermont County, Batavia\",\"state\":\"Ohio\",\"country\":\"US\",\"country_iso3166\":\"US\",\"latitude\":\"39.27\",\"longitude\":\"-84.26\",\"elevation\":\"604 ft\"},\"estimated\":{},\"station_id\":\"KOHLOVEL28\",\"observation_time\":\"Last Updated on June 21, 8:38 AM EDT\",\"observation_time_rfc822\":\"Thu, 21 Jun 2018 08:38:44 -0400\",\"observation_epoch\":\"1529584724\",\"local_time_rfc822\":\"Thu, 21 Jun 2018 08:39:20 -0400\",\"local_epoch\":\"1529584760\",\"local_tz_short\":\"EDT\",\"local_tz_long\":\"America/New_York\",\"local_tz_offset\":\"-0400\",\"weather\":\"Mostly Cloudy\",\"temperature_string\":\"76.4 F (24.7 C)\",\"temp_f\":76.4,\"temp_c\":24.7,\"relative_humidity\":\"95%\",\"wind_string\":\"Calm\",\"wind_dir\":\"West\",\"wind_degrees\":270,\"wind_mph\":0,\"wind_gust_mph\":0,\"wind_kph\":0,\"wind_gust_kph\":0,\"pressure_mb\":\"1010\",\"pressure_in\":\"29.84\",\"pressure_trend\":\"0\",\"dewpoint_string\":\"74 F (23 C)\",\"dewpoint_f\":74,\"dewpoint_c\":23,\"heat_index_string\":\"NA\",\"heat_index_f\":\"NA\",\"heat_index_c\":\"NA\",\"windchill_string\":\"NA\",\"windchill_f\":\"NA\",\"windchill_c\":\"NA\",\"feelslike_string\":\"76.4 F (24.7 C)\",\"feelslike_f\":\"76.4\",\"feelslike_c\":\"24.7\",\"visibility_mi\":\"10.0\",\"visibility_km\":\"16.1\",\"solarradiation\":\"--\",\"UV\":\"1\",\"precip_1hr_string\":\"0.00 in ( 0 mm)\",\"precip_1hr_in\":\"0.00\",\"precip_1hr_metric\":\" 0\",\"precip_today_string\":\"0.11 in (3 mm)\",\"precip_today_in\":\"0.11\",\"precip_today_metric\":\"3\",\"icon\":\"mostlycloudy\",\"icon_url\":\"http://icons.wxug.com/i/c/k/mostlycloudy.gif\",\"forecast_url\":\"http://www.wunderground.com/US/OH/Loveland.html\",\"history_url\":\"http://www.wunderground.com/weatherstation/WXDailyHistory.asp?ID=KOHLOVEL28\",\"ob_url\":\"http://www.wunderground.com/cgi-bin/findweather/getForecast?query=39.269970,-84.262848\",\"nowcast\":\"\"},\"forecast\":{\"txt_forecast\":{\"date\":\"7:52 AM EDT\",\"forecastday\":[{\"period\":0,\"icon\":\"tstorms\",\"icon_url\":\"http://icons.wxug.com/i/c/k/tstorms.gif\",\"title\":\"Thursday\",\"fcttext\":\"Showers and scattered thunderstorms. High 77F. Winds SSW at 5 to 10 mph. Chance of rain 90%.\",\"fcttext_metric\":\"Showers and scattered thunderstorms. High near 25C. Winds SSW at 10 to 15 km/h. Chance of rain 90%.\",\"pop\":\"90\"},{\"period\":1,\"icon\":\"nt_chancetstorms\",\"icon_url\":\"http://icons.wxug.com/i/c/k/nt_chancetstorms.gif\",\"title\":\"Thursday Night\",\"fcttext\":\"Scattered thunderstorms. Low 68F. Winds light and variable. Chance of rain 60%.\",\"fcttext_metric\":\"Variable clouds with scattered thunderstorms. Low near 20C. Winds light and variable. Chance of rain 60%.\",\"pop\":\"60\"},{\"period\":2,\"icon\":\"tstorms\",\"icon_url\":\"http://icons.wxug.com/i/c/k/tstorms.gif\",\"title\":\"Friday\",\"fcttext\":\"Thunderstorms likely in the morning. Then the chance of scattered thunderstorms in the afternoon. High 81F. Winds SSW at 5 to 10 mph. Chance of rain 80%.\",\"fcttext_metric\":\"Thunderstorms likely in the morning. Then the chance of scattered thunderstorms in the afternoon. High 27C. Winds SSW at 10 to 15 km/h. Chance of rain 80%.\",\"pop\":\"80\"},{\"period\":3,\"icon\":\"nt_chancetstorms\",\"icon_url\":\"http://icons.wxug.com/i/c/k/nt_chancetstorms.gif\",\"title\":\"Friday Night\",\"fcttext\":\"Variable clouds with showers and scattered thunderstorms. Storms more numerous during the evening. Low 66F. Winds SSW at 5 to 10 mph. Chance of rain 60%.\",\"fcttext_metric\":\"Variable clouds with showers and scattered thunderstorms. Storms more numerous during the evening. Low 19C. Winds SSW at 10 to 15 km/h. Chance of rain 60%.\",\"pop\":\"60\"},{\"period\":4,\"icon\":\"chancerain\",\"icon_url\":\"http://icons.wxug.com/i/c/k/chancerain.gif\",\"title\":\"Saturday\",\"fcttext\":\"Cloudy with showers. Thunder possible. High 79F. Winds WSW at 10 to 15 mph. Chance of rain 60%.\",\"fcttext_metric\":\"Overcast with rain showers at times. Thunder possible. High 26C. Winds WSW at 15 to 25 km/h. Chance of rain 60%.\",\"pop\":\"60\"},{\"period\":5,\"icon\":\"nt_partlycloudy\",\"icon_url\":\"http://icons.wxug.com/i/c/k/nt_partlycloudy.gif\",\"title\":\"Saturday Night\",\"fcttext\":\"Partly cloudy in the evening with more clouds for later at night. Low around 65F. Winds WSW at 5 to 10 mph.\",\"fcttext_metric\":\"Partly to mostly cloudy. Low 18C. Winds WSW at 10 to 15 km/h.\",\"pop\":\"20\"},{\"period\":6,\"icon\":\"chancetstorms\",\"icon_url\":\"http://icons.wxug.com/i/c/k/chancetstorms.gif\",\"title\":\"Sunday\",\"fcttext\":\"A few showers in the morning with scattered thunderstorms arriving in the afternoon. High 83F. Winds WSW at 5 to 10 mph. Chance of rain 50%.\",\"fcttext_metric\":\"A few showers in the morning with scattered thunderstorms arriving in the afternoon. High 28C. Winds WSW at 10 to 15 km/h. Chance of rain 50%.\",\"pop\":\"50\"},{\"period\":7,\"icon\":\"nt_partlycloudy\",\"icon_url\":\"http://icons.wxug.com/i/c/k/nt_partlycloudy.gif\",\"title\":\"Sunday Night\",\"fcttext\":\"Some clouds early will give way to generally clear conditions overnight. Low around 65F. Winds light and variable.\",\"fcttext_metric\":\"Partly cloudy skies. Low 18C. Winds light and variable.\",\"pop\":\"10\"}]},\"simpleforecast\":{\"forecastday\":[{\"date\":{\"epoch\":\"1529622000\",\"pretty\":\"7:00 PM EDT on June 21, 2018\",\"day\":21,\"month\":6,\"year\":2018,\"yday\":171,\"hour\":19,\"min\":\"00\",\"sec\":0,\"isdst\":\"1\",\"monthname\":\"June\",\"monthname_short\":\"Jun\",\"weekday_short\":\"Thu\",\"weekday\":\"Thursday\",\"ampm\":\"PM\",\"tz_short\":\"EDT\",\"tz_long\":\"America/New_York\"},\"period\":1,\"high\":{\"fahrenheit\":\"77\",\"celsius\":\"25\"},\"low\":{\"fahrenheit\":\"68\",\"celsius\":\"20\"},\"conditions\":\"Thunderstorm\",\"icon\":\"tstorms\",\"icon_url\":\"http://icons.wxug.com/i/c/k/tstorms.gif\",\"skyicon\":\"\",\"pop\":90,\"qpf_allday\":{\"in\":1.11,\"mm\":28},\"qpf_day\":{\"in\":0.87,\"mm\":22},\"qpf_night\":{\"in\":0.24,\"mm\":6},\"snow_allday\":{\"in\":0,\"cm\":0},\"snow_day\":{\"in\":0,\"cm\":0},\"snow_night\":{\"in\":0,\"cm\":0},\"maxwind\":{\"mph\":10,\"kph\":16,\"dir\":\"SSW\",\"degrees\":196},\"avewind\":{\"mph\":7,\"kph\":11,\"dir\":\"SSW\",\"degrees\":196},\"avehumidity\":88,\"maxhumidity\":0,\"minhumidity\":0},{\"date\":{\"epoch\":\"1529708400\",\"pretty\":\"7:00 PM EDT on June 22, 2018\",\"day\":22,\"month\":6,\"year\":2018,\"yday\":172,\"hour\":19,\"min\":\"00\",\"sec\":0,\"isdst\":\"1\",\"monthname\":\"June\",\"monthname_short\":\"Jun\",\"weekday_short\":\"Fri\",\"weekday\":\"Friday\",\"ampm\":\"PM\",\"tz_short\":\"EDT\",\"tz_long\":\"America/New_York\"},\"period\":2,\"high\":{\"fahrenheit\":\"81\",\"celsius\":\"27\"},\"low\":{\"fahrenheit\":\"66\",\"celsius\":\"19\"},\"conditions\":\"Thunderstorm\",\"icon\":\"tstorms\",\"icon_url\":\"http://icons.wxug.com/i/c/k/tstorms.gif\",\"skyicon\":\"\",\"pop\":80,\"qpf_allday\":{\"in\":0.4,\"mm\":10},\"qpf_day\":{\"in\":0.26,\"mm\":7},\"qpf_night\":{\"in\":0.13,\"mm\":3},\"snow_allday\":{\"in\":0,\"cm\":0},\"snow_day\":{\"in\":0,\"cm\":0},\"snow_night\":{\"in\":0,\"cm\":0},\"maxwind\":{\"mph\":10,\"kph\":16,\"dir\":\"SSW\",\"degrees\":196},\"avewind\":{\"mph\":9,\"kph\":14,\"dir\":\"SSW\",\"degrees\":196},\"avehumidity\":78,\"maxhumidity\":0,\"minhumidity\":0},{\"date\":{\"epoch\":\"1529794800\",\"pretty\":\"7:00 PM EDT on June 23, 2018\",\"day\":23,\"month\":6,\"year\":2018,\"yday\":173,\"hour\":19,\"min\":\"00\",\"sec\":0,\"isdst\":\"1\",\"monthname\":\"June\",\"monthname_short\":\"Jun\",\"weekday_short\":\"Sat\",\"weekday\":\"Saturday\",\"ampm\":\"PM\",\"tz_short\":\"EDT\",\"tz_long\":\"America/New_York\"},\"period\":3,\"high\":{\"fahrenheit\":\"79\",\"celsius\":\"26\"},\"low\":{\"fahrenheit\":\"65\",\"celsius\":\"18\"},\"conditions\":\"Chance of Rain\",\"icon\":\"chancerain\",\"icon_url\":\"http://icons.wxug.com/i/c/k/chancerain.gif\",\"skyicon\":\"\",\"pop\":60,\"qpf_allday\":{\"in\":0.06,\"mm\":2},\"qpf_day\":{\"in\":0.06,\"mm\":2},\"qpf_night\":{\"in\":0,\"mm\":0},\"snow_allday\":{\"in\":0,\"cm\":0},\"snow_day\":{\"in\":0,\"cm\":0},\"snow_night\":{\"in\":0,\"cm\":0},\"maxwind\":{\"mph\":15,\"kph\":24,\"dir\":\"WSW\",\"degrees\":243},\"avewind\":{\"mph\":12,\"kph\":19,\"dir\":\"WSW\",\"degrees\":243},\"avehumidity\":77,\"maxhumidity\":0,\"minhumidity\":0},{\"date\":{\"epoch\":\"1529881200\",\"pretty\":\"7:00 PM EDT on June 24, 2018\",\"day\":24,\"month\":6,\"year\":2018,\"yday\":174,\"hour\":19,\"min\":\"00\",\"sec\":0,\"isdst\":\"1\",\"monthname\":\"June\",\"monthname_short\":\"Jun\",\"weekday_short\":\"Sun\",\"weekday\":\"Sunday\",\"ampm\":\"PM\",\"tz_short\":\"EDT\",\"tz_long\":\"America/New_York\"},\"period\":4,\"high\":{\"fahrenheit\":\"83\",\"celsius\":\"28\"},\"low\":{\"fahrenheit\":\"65\",\"celsius\":\"18\"},\"conditions\":\"Chance of a Thunderstorm\",\"icon\":\"chancetstorms\",\"icon_url\":\"http://icons.wxug.com/i/c/k/chancetstorms.gif\",\"skyicon\":\"\",\"pop\":50,\"qpf_allday\":{\"in\":0.09,\"mm\":2},\"qpf_day\":{\"in\":0.09,\"mm\":2},\"qpf_night\":{\"in\":0,\"mm\":0},\"snow_allday\":{\"in\":0,\"cm\":0},\"snow_day\":{\"in\":0,\"cm\":0},\"snow_night\":{\"in\":0,\"cm\":0},\"maxwind\":{\"mph\":10,\"kph\":16,\"dir\":\"WSW\",\"degrees\":258},\"avewind\":{\"mph\":8,\"kph\":13,\"dir\":\"WSW\",\"degrees\":258},\"avehumidity\":72,\"maxhumidity\":0,\"minhumidity\":0}]}}}}","payloadType":"json","repeat":"","crontab":"","once":false,"x":90,"y":180,"wires":[["95cbdcd6.63c8f"]]},{"id":"95cbdcd6.63c8f","type":"change","z":"d49481d6.45283","name":"","rules":[{"t":"set","p":"data","pt":"msg","to":"payload.Data","tot":"msg"},{"t":"set","p":"location","pt":"msg","to":"payload.Location","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":220,"wires":[["ab6ca154.ad3d6"]]},{"id":"ab6ca154.ad3d6","type":"change","z":"d49481d6.45283","name":"","rules":[{"t":"set","p":"time","pt":"msg","to":"$now()\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":160,"wires":[["97da8ef1.14b5c"]]},{"id":"97da8ef1.14b5c","type":"change","z":"d49481d6.45283","name":"","rules":[{"t":"set","p":"data2","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":220,"wires":[["e9eb9712.e5b958","4e2ddc7.206f624"]]},{"id":"ab6d1e7f.ed944","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","verifyservercert":false},{"id":"ac6b6c6c.1e148","type":"osisoft-omf-type-bridge","z":"","name":"wundergroud2","typeid":"wundergroundRed","classification":"dynamic","version":"1.0.0.0","typename":"","description":"wundergroud","tags":"","metadata":"","properties":{"tempk":{"propertyname":"tempk","type":"number"},"tempc":{"propertyname":"tempc","type":"number"},"tempf":{"propertyname":"tempf","type":"number"},"humidity":{"propertyname":"humidity","type":"string"},"windspeed":{"propertyname":"windspeed","type":"string"},"winddirection":{"propertyname":"winddirection","type":"string"},"_time":{"propertyname":"_time","type":"string","format":"date-time","isindex":true}},"Switch":1,"Save":"7"},{"id":"74122994.9c9338","type":"osisoft-omf-headers-bridge","z":"","name":"prod","producertoken":"1/a867d2adc554432ea3ceec965489f54b/ea5aebf611994a5dad4285583b3995a3/8c6e5ba7-0328-4943-8e0f-fed182dddd4e/65235772800/Ra6q%2BuiTFUKY4YrpJNU4iPd9z5WS2XNCVRb31iX3D%2FA%3D","messageformat":"json","omfversion":"1.0","action":"create","compression":""},{"id":"6cdde941.66f3c8","type":"osisoft-omf-url","z":"","name":"URL","url":"https://localhost:5000/edge/omf/tenants/default/namespaces/data"},{"id":"65cfc0dc.cb798","type":"osisoft-omf-container-bridge","z":"","name":"wunderground","containerid":"{{location.city}}_{{location.country}}-Derek2NodeRed","typeid":"","typeversion":"1.0.0.0","friendlyname":"","description":"wunderground","tags":"","metadata":""},{"id":"6060fbdc.c5ffa4","type":"osisoft-omf-container-bridge","z":"","name":"wunderground","containerid":"{{location.city}}_{{location.country}}","typeid":"","typeversion":"1.0.0.0","friendlyname":"","description":"wunderground","tags":"","metadata":""}]